body{
    font-family: Arial, Helvetica, sans-serif;
    background: #ccc;
    margin: 0%;
}
.hero{
    background-image: url(../imagens/caverna.jpg);
    height: 500px;
    background-position:right center;
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid transparent;



    }

    .hero-content{
        text-align: center;
        color: white;
        margin-top: 150px;
    }

    .hero-content h1{
         text-transform: uppercase;
         font-size: 46px;
         text-shadow: 3px 3px 5px orangered;
    }

    .hero nav ul{
        text-align: right;
        margin:20px 50px 0 0 ;
    }

    .hero nav li{
        display: inline-block;
        list-style: none;
        border: 1px solid gray;

    }
    .hero nav a{
        background: rgba(77, 66, 66, 0.5); 
        display: block;
        padding: 10px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font size: 12px;
        
    }
    .hero nav a:hover{
        background: rgba(87, 14, 206, 0.7); 

    }

    main{
        width:  80%;
        margin: auto;
    }

    .content-section{
        background-color: white;
        padding: 15px;
        margin-top: 15px;
    }
    footer{
        text-align:center;
    }
    